:root {
  --black: #071A0F;
  --gray: #EFEFEF;
}

body, html{
  margin:0;
  padding:0;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
}


.landing_page {
  position: relative;
  min-height: 100vh;
  /* height: 100%; */
  background: var(--gray);
  z-index: 10;
}

.landing_page .container{
  width: 90%;
  margin: auto;
}

.landing_page nav{
  display: flex;
  justify-content: space-between;
}



.landing_page nav a{
  text-decoration: none;
  color: var(--black);
}

.signUpNav{
  border-radius: 5px;
  padding: 10px 30px;
  background: var(--black);
  color:white !important;
}

.landing_page ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.landing_page ul li{
  margin: 0px 20px;
}

.landing_page .bg_top{
  top:0;
  right:0;
  position: absolute;
  z-index: -1;
}
.landing_page .bg_bottom{
  bottom:0;
  left:0;
  position: absolute;
  z-index: -1;
}

.landing_page h4{
  font-weight: 200;
}

.landing_page h1{
  font-size: 30px;
}

section.header{
  margin-top:100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__text{
  flex: 0 1 400px
}

.header_image{
  margin-right: 40px;
  flex: 0 1 530px;
}

section.catalog{
  margin-top: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog__browse{
  width: 500px;
}
.catalog__browse div{
  margin: auto;
}

.catalog__examples{
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-top: 50px;
}

.podcast_highlight img{
  width: 125px;
}

.podcast_hilight__social svg{
  width: 20px;
  height: 20px;
  color: var(--light-gray);
  padding: 2px;
  transition: 0.2s ease all;
}

.podcast_hilight__social svg:hover{
  cursor: pointer;
  color: var(--black);
}

section.laptop{
  position: relative;
  background: #E7E7E7;
  display: flex;
  width: 80%;
  margin: auto;
  margin-top:200px;
  height: 400px;
  align-items: center
}

section.laptop h1{
  margin-top:0px;
}

.laptop__text{
  width: 48%;
  padding:20px;
}

.laptop_mockup{
  max-width: 1000px;
  width: 92%;
  position: absolute;
  /* right: -400px; */
  right: -40%;
  top: calc(50% - 300px);
  top: 50%;
  transform: translate(0%, -50%);
}

.features{
  margin:auto;
  width: 70%;
  margin-top:200px;
}

.feature{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom:50px;
}

.feature__image{
  width: 400px;
}
.feature__text{
  width: 400px;
  margin: 50px;
}

.newsletter{

}

.newsletter__inputs{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.landing_page .newsletter{
  text-align: center;
  margin-top: 200px;
  margin-bottom: 100px;
}

.newsletter__inputs div{
  margin: unset;
  margin: 0 20px;
}

.newsletter__inputs div:first-child svg {
  width: 15px;
  height: 15px;
  top: calc(50% - 7.5px);
}

.register_page, .login_page{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.register__container, .login__container{
  display: flex;
  width: 800px;
  height: 600px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.register__image, .login__image{
  flex: 0 0 310px;
  background: var(--black);
  color: white;
  position: relative;
  padding:20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  text-align: center;
}

.register__image .register__ilu, .login__image .login__ilu{
  width: 70%;
  z-index: 2;
}

.register__image h1, .register__image h4, .login__image h1, .login__image h4{
  z-index: 2;
}

.register__form, .login__form{
  width: 410px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:40px;
}

.register__form h1, .register__form h4, .login__form h1, .login__form h4{
  color: #757575;
}

.register_bg_top, .login_bg_top{
  position: absolute;
  top:0;
  left:0;
}

.register_bg_bottom, .login_bg_bottom{
  position: absolute;
  bottom:0;
  right:0;
}

.register_bg, .login_bg{
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  z-index: 1;
}

.register_page footer{
  height: 300px;
  background: var(--black);
}

.register_page h4, .login_page h4{
  font-weight: 200;
  font-size: 14px;
}

.register_page h1, .login_page h1{
  font-size: 30px;
  margin-top: 0;
}

.social_login img{
  width: 30px;
  margin: 0 10px;
}

.login_redirect, .register_redirect{
  margin-top:40px;
  font-size: 12px !important;
}

.login_redirect span, .register_redirect span{
  text-decoration: underline;
  color: white !important;
}

footer{
  background: black;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.socialFooter svg{
  background: white;
  border-radius: 100%;
  padding: 7px;
  margin: 0px 15px;
  transition: 0.2s ease all;
  font-size: 20px;
}

.socialFooter svg:hover{
  background: var(--orange);
  cursor: pointer;
  fill: white;
}

.linksFooter{
  display: flex;
  margin-top: 1.33em;
}

.linksFooter h4{
  margin: 0 10px;
  color: white;
  font-size: 14px;
  opacity: 0.7;
  transition: 0.2s ease all;
}
.linksFooter h4:hover{
  cursor: pointer;
  opacity: 1;
}

.copyright{
  color: white;
  opacity: 0.6;
  font-size: 14px;
}
