:root {
  --black: #071A0F;
  --gray: #EFEFEF;
}



.media_navbar{
  position: fixed;
  z-index: 100;
  bottom: 0;
  width: 100%;
  background: var(--black);
  height: 75px;
}

.progress_bar{
  width: 100%;
  background: var(--gray);
  height: 8px;
  max-width: 600px;
  margin: auto;
  border-radius: 10px;
  position: relative;
}

.currentProgress{
  height: 8px;
  background: #FEBA38;
  border-radius: 10px;
}


.navbar{
  position: absolute;
  top: 0;
  height: 55px;
  width: 100%;
  background: white;
}

.navbar_container{
  width: 90%;
  margin:auto;
  justify-content: space-between;
  display: flex;
  height: 55px;
  align-items: center;
}

.navbar ul{
  display: flex;
  text-decoration: none;
  list-style-type: none;
  align-items: center;
  height: 100%;
  padding-left: 0;
}

.navbar ul a{
  text-decoration: none;
  color: black;
}

.navbar ul li{
  margin: 0px 20px;
  padding: 5px 20px;

}


.navbar .active{
  background: black;
  color: white;
  border-radius: 5px;
}

.navbar .active svg{
  color: white;
}

.navIcons{
  display: flex;
  justify-content: center;
  align-items: center;
}

.navIcons div{
  margin: 0 10px;
  padding: 5px 10px;
  border-radius: 5px;
}

.navIcons svg{
  color: black;
}

.navIcons svg{
  width: 22px;
  height: 22px;
}

.studio_tabs{
  display: flex;
}

.studio_tabs h1{
  margin-right:20px;
}

.studio_tabs h1:hover{
  cursor: pointer;
}

.studio_tabs .selected{
  color:#FEBA38;
  border-bottom: 2px solid #FEBA38
}


.media_navbar button{
  color: white;
  background: none;
  border:none;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 5px;
  transition: 0.2s ease all;
}

.media_navbar button:hover{
  cursor: pointer;
  transform: scale(1.05);
}

.media_navbar .button_play{
  font-size: 16px;
  border: 1px solid white;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:8px;
}

.media_navbar .button_pause{
  font-size: 16px;
  border: 1px solid white;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:8px;
}

.media_navbar .media_navbar_buttons{
  display: flex;
  padding:10px 0px;
  justify-content: center;
}

.progress_bar .timepassed{
  position: absolute;
  top: -25px;
  color: white;
  font-size: 12px;
}
.progress_bar .timeleft{
  position: absolute;
  top: -25px;
  right: 0;
  color: white;
  font-size: 12px;
}

.media_podcast_info{
  position: absolute;
  top: 10px;
  left: 10px;
  color:white;
}

.media_podcast_info_user{
  opacity: 0.6;
  font-size: 12px;
}

.media_podcast_info_title{
  font-size: 15px;
}

input[type="checkbox"]{
  display: none;
}

.checkbox{
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

/* checkbox */

.checkbox::before{
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19,5V19H5V5H19m0-2H5A2.006,2.006,0,0,0,3,5V19a2.006,2.006,0,0,0,2,2H19a2.006,2.006,0,0,0,2-2V5A2.006,2.006,0,0,0,19,3Z" fill="rgb(99, 99, 99)"/><path d="M0,0H24V24H0Z" fill="none"/></svg>');
  line-height: 0;
  padding: .75rem;
}

.checkbox:active::before{
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0,0H24V24H0Z" fill="none"/><path d="M19,3H5A2,2,0,0,0,3,5V19a2,2,0,0,0,2,2H19a2,2,0,0,0,2-2V5A2,2,0,0,0,19,3ZM10,17,5,12l1.41-1.41L10,14.17l7.59-7.59L19,8Z" fill="rgb(99, 99, 98)"/></svg>');
}

input[type="checkbox"]:checked + .checkbox::before{
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0,0H24V24H0Z" fill="none"/><path d="M19,3H5A2,2,0,0,0,3,5V19a2,2,0,0,0,2,2H19a2,2,0,0,0,2-2V5A2,2,0,0,0,19,3ZM10,17,5,12l1.41-1.41L10,14.17l7.59-7.59L19,8Z" fill="rgb(43, 133, 255)"/></svg>');
}

input[type="checkbox"]:checked + .checkbox:active::before{
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0,0H24V24H0Z" fill="none"/><path d="M19,3H5A2,2,0,0,0,3,5V19a2,2,0,0,0,2,2H19a2,2,0,0,0,2-2V5A2,2,0,0,0,19,3ZM10,17,5,12l1.41-1.41L10,14.17l7.59-7.59L19,8Z" fill="rgb(99, 99, 98)"/></svg>');
}

/* hover indicator */

.checkbox:after{
  content: "";
  position: absolute;
  left: 0;
  height: 3rem;
  width: 3rem;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5rem;
  will-change: transform;
  transition: .3s ease-in-out;
  transform: scale(0);
}

.checkbox:hover::after{
  background: rgba(var(--theme-color), 0.1);
  transform: scale(1);
}

.notificationList{
  margin: 0;
  position: absolute;
  right: 0;
  top: 50px;
  max-width: 300px;
  background: white;
  color: black;
  width: 300px;
  margin-right: 0px !important;
  font-size: 12px;
  box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px, rgb(0 0 0 / 5%) 0px 4px 6px -2px;
  height: fit-content;
  overflow-y: scroll;
}

.navIcons .notificationBlock{
  position: relative;
}

.notificationBlock:hover{
  cursor: pointer;
}

.notification_pp{
  width: 45px;
  height: 45px;
  border-radius: 100%;
  object-fit: cover;
}

.notificationRow{
  display: flex;
  align-items: center;
  margin-bottom:20px !important;
  position: relative;
  padding:0px !important;
}

.notificationRow p{
  margin-left: 10px;
}

.newDot{
  width: 7px;
  height: 7px;
  background: #ff6b6b;
  left: -13px;
  position: absolute;
  border-radius: 100%;
}

.unread{
  position: absolute;
  font-size: 12px;
  background: red;
  color: white;
  border-radius: 100% !important;
  padding:0 !important;
  width:15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  top:0;
}

.notification_info{
  padding:0px !important;
}

.notification_info p:first-child{
  font-size: 10px;
  opacity: 0.5;
}

.notification_info p{
  padding: 0;
  margin:2px;
}
