:root {
  --black: #071A0F;
  --gray: #EFEFEF;
}



.media_navbar{
  position: fixed;
  z-index: 100;
  bottom: 0;
  width: 100%;
  background: var(--black);
  height: 75px;
}

.progress_bar{
  width: 100%;
  background: var(--gray);
  height: 8px;
  max-width: 600px;
  margin: auto;
  border-radius: 10px;
  position: relative;
}

.currentProgress{
  height: 8px;
  background: #FEBA38;
  border-radius: 10px;
}


.navbar{
  position: absolute;
  top: 0;
  height: 55px;
  width: 100%;
  background: white;
}

.navbar_container{
  width: 90%;
  margin:auto;
  justify-content: space-between;
  display: flex;


}

.navbar ul{
  display: flex;
  text-decoration: none;
  list-style-type: none;
}

.navbar ul a{
  text-decoration: none;
  color: black;
}

.navbar ul li{
  margin: 0px 20px;
}

.navIcons{
  display: flex;
  justify-content: center;
  align-items: center;
}

.navIcons div{
  margin: 0 20px;
}

.navIcons svg{
  color: black;
}

.navIcons svg{
  width: 22px;
  height: 22px;
}

.studio_tabs{
  display: flex;
}

.studio_tabs h1{
  margin-right:20px;
}

.studio_tabs h1:hover{
  cursor: pointer;
}

.studio_tabs .selected{
  color:#FEBA38;
  border-bottom: 2px solid #FEBA38
}


.media_navbar button{
  color: white;
  background: none;
  border:none;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 5px;
  transition: 0.2s ease all;
}

.media_navbar button:hover{
  cursor: pointer;
  transform: scale(1.05);
}

.media_navbar .button_play{
  font-size: 16px;
  border: 1px solid white;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:8px;
}

.media_navbar .button_pause{
  font-size: 16px;
  border: 1px solid white;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:8px;
}

.media_navbar .media_navbar_buttons{
  display: flex;
  padding:10px 0px;
  justify-content: center;
}

.progress_bar .timepassed{
  position: absolute;
  top: -25px;
  color: white;
  font-size: 12px;
}
.progress_bar .timeleft{
  position: absolute;
  top: -25px;
  right: 0;
  color: white;
  font-size: 12px;
}

.media_podcast_info{
  position: absolute;
  top: 10px;
  left: 10px;
  color:white;
}

.media_podcast_info_user{
  opacity: 0.6;
  font-size: 12px;
}

.media_podcast_info_title{
  font-size: 15px;
}
