:root {
  --black: #071A0F;
  --gray: #EFEFEF;
  --light-gray: #707070;
}

.btn{
  border-radius: 5px;
  padding: 10px 30px;
  border: none;
  margin: 10px 0px;
}

.btn:hover{
  cursor: pointer;
}

.btn-black{
  color: white;
  background: var(--black);
}

.input{
  width: 250px;
  border: none;
  height: 35px;
  box-sizing: border-box;
  position: relative;
  margin: 10px 20px;


}

.input input{
  border: none;
  width: 100%;
  height: 35px;
  box-sizing: border-box;
}

.input__secondary input{
  background: transparent;
  border-bottom: 1px solid var(--light-gray);
  padding-left: 5px;
  padding-right: 25px;

}

.input__secondary svg{
  width: 20px;
  height: 20px;
  position: absolute;
  top: calc(50% - 10px);
  right: 0;
}

.input__primary input{
  background: white;
  padding-left: 5px;
  padding-right: 25px;
}

.input__primary input::placeholder{
  color:#CCCCCC;
}

.input__primary svg{
  width: 15px;
  height: 15px;
  color: #CCCCCC;
  position: absolute;
  top: calc(50% - 7.5px);
  right: 0;
  margin-right: 10px;
}

.revealPassword{
  position: absolute;
  top: calc(50% - 7.5px);
  right: 0;
  margin-right: 35px;
  transition: 0.3s ease all;
}

.revealPassword:hover{
  cursor: pointer;
}

.revealPassword svg{
  width: 18px;
  height: 18px;
  color: black;
  position: relative;;
  margin-right: 0px
}

.icon__password{
  width: 17px;
  height: 17px;
}

.input_main{
  display: flex;
  align-items: center;
  margin: 25px 0px;
}

.input_description{
  min-width: 250px;

}

.input_description .description{
  font-size: 12px;
  margin: 2px;
  color: #7c7c7c;
}
.input_description .title{
  font-size: 14px;
  color: #7c7c7c;
  margin: 2px;
}

.input_main input{
  height: 25px;
  min-width: 250px;
  border: 0.5px solid #d7d1d1;
  border-radius: 3px;
}

.input_main input[type=file]{
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.input_main .upload_button{
  border-radius: 5px;
  padding: 10px 30px;
  border: none;
  margin: 10px 0px;
  background: #EFEFEF;
  font-size: 14px;
  appearance: auto;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  box-sizing: border-box;
  font: 400 13.3333px Arial;
}

.input_main .upload_button:hover{
  cursor: pointer;
}
